@import "tailwindcss";
@import "@heroui/styles";

:root {
  --accent: #05893e;
  --ink: #1d271f;
  --muted: rgb(29 39 31 / 0.7);
  --body-bg: #f0f5f0;
  --error: #d03739;
  --line: #e4e4e0;
}

@theme inline {
  /* Fonts */
  --font-sans: var(--font-bangla), system-ui, sans-serif;

  /* Colors */
  --color-accent: var(--accent);
  --color-ink: var(--ink);
  --color-muted: var(--muted);
  --color-body: var(--body-bg);
  --color-error: var(--error);
  --color-line: var(--line);
}

body {
  background: var(--body-bg);
  color: var(--ink);
  font-family: var(--font-bangla), system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}
